<div class="card">
    <div class="card-body">
        <h1>about</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis consequuntur reprehenderit id voluptates expedita, cumque laboriosam. Similique, atque voluptatem accusantium, facere iure dignissimos temporibus eveniet sint minus, saepe et cum ad aliquam blanditiis fugit totam! Sunt odio sint odit, voluptate, quibusdam dolores repellat praesentium optio error corrupti aperiam. Expedita, dolore!</p>
    </div>
</div>