<div class="jumbotron-mt-4">
    <h1 class="display-4">KlasseG</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores, vero!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum blanditiis adipisci, harum voluptates impedit porro repellat esse ut, autem aspernatur, amet minima maiores perspiciatis culpa magni cumque. Nihil, quidem delectus.</p>
    <a href="" class="btn btn-primary btn-lg"></a>
</div>