{{!-- bootstrap --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {{!-- Font Awesome --}}
    <script src="https://kit.fontawesome.com/de13f0750c.js" crossorigin="anonymous"></script>
    {{!-- CSS personal --}}
    <link rel="stylesheet" href="/css/styles.css">
    {{!-- Bootstrap theme --}}
    <link rel="stylesheet" href="/src/public/css/bootstrap.css">
<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="ard mt-4 text-center">
            <div class="card-header">
                <h1>Ingresa</h1>
            </div>
            <div class="card-body">
                <form action="/users/signin" method="POST">
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email" autofocus value="{{email}}">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Contraseña" value="{{password}}">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">
                            Ingresar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>